.footer {

    padding: 1rem;
    width: 90%;
    max-width: 1000px;

    margin: auto auto 3rem;
    
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    background: #361F36;

    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    opacity: .6;
    border-bottom-width: .2rem;
    border-bottom-style: solid;
    border-bottom-color: transparent; 
}